# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# IDE
.vscode/
.idea/

# Results & data
results/

# OS
.DS_Store
Thumbs.db

# Virtual env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Environment
.env
